body {
    margin: 0;
}

.dial-holder {
    position: sticky;
    display: flex;
    background-color: rgb(88, 228, 221);
    height: 75px;
    top: 0px;
    justify-content: center;
    align-items: center;
}

#openForm {
    color: black;
    background-color: rgb(88, 228, 221);
    height: 52px;
    width: 128px;
    border: 1px solid black;
    border-radius: 10px;
}