body {
    margin: 0;
}

body, button, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;;

}

.dial-holder {
    position: sticky;
    display: flex;
    background-color: rgb(49, 54, 71);
    height: 75px;
    top: 0px;
    justify-content: center;
    align-items: center;
}

#openForm {
    font-size: 0.97rem;
    color: black;
    background-color: rgb(86, 97, 104);
    height: 52px;
    width: 128px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    filter: brightness(100%);
}

#mainForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

#mainForm input {
    margin-bottom: 20px;
    margin-top: 5px;
}