body {
    margin: 0;
}

.dial-holder {
    display: flex;
    background-color: rgb(88, 228, 221);
    height: 3.5rem;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}