body {
    margin: 0;
}

.dial-holder {
    position: sticky;
    display: flex;
    background-color: rgb(49, 54, 71);
    height: 75px;
    top: 0px;
    justify-content: center;
    align-items: center;
}

#openForm {
    font-size: 0.97rem;
    color: black;
    background-color: rgb(86, 97, 104);
    height: 52px;
    width: 128px;
    border: 1px solid black;
    border-radius: 10px;
}